.contacts-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (max-width:950px) {
    .contacts-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .contact-right{
        width: 100%;
    }
}
.contact-left {
    width: 410px;
}

.contact-right {
    width: 410px;
}

.text-contact::placeholder {
    padding: 1rem 1.5rem;
    border: none;
}

.text-contact-area::placeholder {
    padding: 1rem 1.5rem;
}
