.models {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 1100px;
}

@media (max-width:1150px){
    .models {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
}

@media (max-width:800px){
    .models {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}