.support {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

@media (max-width:1020px){
    .support {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:800px){
    .support {
        grid-template-columns: 1fr;
    }
}