.form-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: end;
    gap: 2rem;
}

.form-box {
    background-color: #fff;
    background-image: url("https://car-rental-ten.vercel.app/static/media/book-bg.6f629a1041e9fd9c6685.png");
    padding: 2rem;
    border-radius: 0.5rem;
}

.required-field::after {
    content: "*";
    color: red;
    float: initial;
  }

.form-data select, .form-data input {
    height: 2.7rem;
    border: 0.1rem #706f7b solid;
    border-radius: 4px;
}



.form-data label {
    font-weight: bold;
    color: #000;
}


.form-data div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width:1000px){
    .form-data {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:630px){
    .form-data {
        grid-template-columns: 1fr;
    }

}