.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-name {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.modal-car-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

@media (max-width:992px){
    .modal-name {
        flex-direction: column;
    }
}

@media (max-width:800px){
    .modal-car-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}