.carModels {
    display: flex;
    flex-direction: column;
    border: 0.1px solid #777777;
    border-radius: 2px;
    color: #000;
}

.car-second, .car-third {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
}

.car-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-ride {
    padding: 0.7rem 1rem;
    color: #fff;
    font-weight: bold;
    background-color: #ff4d30;
    border: none;
    border-radius: 4px;
}
